@function rem-cal($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: rem-cal(140);
  margin-right: rem-cal(140);
  height: 100vh;

  &__header {
    //display: flex;
  }
}